*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}

.caja{
    margin: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;

    gap: 2rem;
}

.caja form{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 600px;
    gap: 30px;
}

.caja form > input{
    padding: 10px;
    width: 100%;
}